NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
OPERATOR_USER_IDS=
OPERATOR_EMAILS=
CUSTOMER_LEDGER_EMPLOYEE_PASSWORD=
CUSTOMER_LEDGER_ADMIN_PASSWORD=
CUSTOMER_LEDGER_SESSION_SECRET=
TRACEABILITY_NO_LENGTHS=
